theme "arthur"
pane_frames false
show_startup_tips false

layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{command_pwd}"
                format_right  "{tabs} #[fg=#dddede,bold]ZelliJ"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#9399B2,bold] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                command_pwd_command "pwd"
                command_pwd_format "#[fg=#6C7086]{stdout}"
                command_pwd_rendermode "static"
            }
        }
    }

    tab name="editor" focus=true {
        pane command="helix" borderless=true {
            args ".";
        }
    }
    tab name="files" {
        pane command="lf" borderless=true {
            args "-command" "set hidden";
        }
    }
    tab name="git" {
        pane command="lazygit" borderless=true
    }
    tab name="search/replace" {
        pane command="scooter" borderless=true
    }
}

keybinds clear-defaults=true {
    shared {
        bind "Ctrl q" { Quit; }
        bind "F1" { GoToTab 1; }
        bind "F2" { GoToTab 2; }
        bind "F3" { GoToTab 3; }
        bind "F4" { GoToTab 4; }
    }
}

ui {
    pane_frames {
        hide_session_name true
    }
}
