theme "arthur"
pane_frames false
show_startup_tips false

layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
    }

    tab name="editor" focus=true {
        pane command="helix" borderless=true {
            args ".";
        }
    }
    tab name="files" {
        pane command="lf" borderless=true {
            args "-command" "set hidden";
        }
    }
    tab name="git" {
        pane command="lazygit" borderless=true
    }
    tab name="search/replace" {
        pane command="scooter" borderless=true
    }
}

keybinds clear-defaults=true {
    shared {
        bind "Ctrl q" { Quit; }
        bind "F1" { GoToTab 1; }
        bind "F2" { GoToTab 2; }
        bind "F3" { GoToTab 3; }
        bind "F4" { GoToTab 4; }
    }
}

ui {
    pane_frames {
        hide_session_name true
    }
}
