[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=ghostty "%s"
Icon=ghostty
Name=ghostty
X-XFCE-Commands=ghostty

