themes {
    arthur {
        text_unselected {
            base 221 238 221
            background 28 28 28
            emphasis_0 232 174 91
            emphasis_1 100 149 237
            emphasis_2 222 184 135
            emphasis_3 176 196 222
        }
        text_selected {
            base 221 238 221
            background 100 149 237
            emphasis_0 232 174 91
            emphasis_1 100 149 237
            emphasis_2 222 184 135
            emphasis_3 176 196 222
        }
        ribbon_selected {
            base 28 28 28
            background 100 149 237
            emphasis_0 28 28 28
            emphasis_1 232 174 91
            emphasis_2 222 184 135
            emphasis_3 176 196 222
        }
        ribbon_unselected {
            base 28 28 28
            background 176 196 222
            emphasis_0 28 28 28
            emphasis_1 221 238 221
            emphasis_2 100 149 237
            emphasis_3 222 184 135
        }
        table_title {
            base 100 149 237
            background 0
            emphasis_0 232 174 91
            emphasis_1 100 149 237
            emphasis_2 222 184 135
            emphasis_3 176 196 222
        }
        table_cell_selected {
            base 221 238 221
            background 100 149 237
            emphasis_0 232 174 91
            emphasis_1 100 149 237
            emphasis_2 222 184 135
            emphasis_3 176 196 222
        }
        table_cell_unselected {
            base 221 238 221
            background 28 28 28
            emphasis_0 232 174 91
            emphasis_1 100 149 237
            emphasis_2 222 184 135
            emphasis_3 176 196 222
        }
        list_selected {
            base 221 238 221
            background 100 149 237
            emphasis_0 232 174 91
            emphasis_1 100 149 237
            emphasis_2 222 184 135
            emphasis_3 176 196 222
        }
        list_unselected {
            base 221 238 221
            background 28 28 28
            emphasis_0 232 174 91
            emphasis_1 100 149 237
            emphasis_2 222 184 135
            emphasis_3 176 196 222
        }
        frame_selected {
            base 100 149 237
            background 0
            emphasis_0 232 174 91
            emphasis_1 222 184 135
            emphasis_2 176 196 222
            emphasis_3 0
        }
        frame_highlight {
            base 232 174 91
            background 0
            emphasis_0 222 184 135
            emphasis_1 232 174 91
            emphasis_2 232 174 91
            emphasis_3 232 174 91
        }
        exit_code_success {
            base 100 149 237
            background 0
            emphasis_0 176 196 222
            emphasis_1 28 28 28
            emphasis_2 222 184 135
            emphasis_3 100 149 237
        }
        exit_code_error {
            base 28 28 28
            background 0
            emphasis_0 204 85 51
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 222 184 135
            player_2 100 149 237
            player_3 232 174 91
            player_4 204 85 51
            player_5 176 196 222
            player_6 187 170 153
            player_7 61 53 42
            player_8 85 85 68
            player_9 221 204 187
            player_10 28 28 28
        }
    }
}
