theme = "darcula-solid"

[editor]
true-color = true
color-modes = true
mouse = true
cursorline = true
bufferline = "always"

auto-format = true
auto-save = true

[editor.soft-wrap]
enable = true

[editor.cursor-shape]
insert = "bar"
select = "underline"

[editor.statusline]
left = [
  "mode",
  "spinner",
  "version-control",
  "file-modification-indicator",
  "file-name",
]

[editor.lsp]
display-inlay-hints = true
display-signature-help-docs = true

[editor.inline-diagnostics]
cursor-line = "warning"
other-lines = "error"

[editor.file-picker]
hidden = false

[keys.normal]
esc = ["collapse_selection", "keep_primary_selection"]
d = "delete_selection_noyank"
c = "change_selection_noyank"
X = ["extend_line_up", "extend_to_line_bounds"]
D = "delete_char_backward"
C-e = "toggle_comments"
home = "goto_first_nonwhitespace"
"," = "repeat_last_motion"
"'" = "goto_word"
"C-r" = ":reload-all"

# Move selection
C-k = [
  "extend_to_line_bounds",
  "delete_selection",
  "move_line_up",
  "paste_before",
]
C-j = ["extend_to_line_bounds", "delete_selection", "paste_after"]

# Use main clipboard
y = "yank_to_clipboard"
p = "paste_clipboard_after"
P = "paste_clipboard_before"
r = "replace_selections_with_clipboard"

# Remap some ALT based nav commands to CTRL
C-p = "select_prev_sibling"
C-n = "select_next_sibling"
C-i = "select_all_children"

# Fix international keyboard keymaps
# https://github.com/helix-editor/helix/issues/9862
# https://docs.helix-editor.com/commands.html#static-commands
"ß" = "split_selection_on_newline"
"â" = "flip_selections"
"ë" = "select_prev_sibling"
"à" = "select_all_siblings"
"û" = "earlier"
"ê" = "repeat_last_motion"
"ï" = "shrink_to_line_bounds"
"î" = "shrink_selection"
"S-î" = "select_all_children"

[keys.select]
# Use main clipboard
y = "yank_to_clipboard"
p = "paste_clipboard_after"
P = "paste_clipboard_before"
r = "replace_selections_with_clipboard"

# Fix international keyboard keymaps
# https://github.com/helix-editor/helix/issues/9862
# https://docs.helix-editor.com/commands.html#static-commands
"ß" = "split_selection_on_newline"
"â" = "flip_selections"
"ë" = "select_prev_sibling"
"à" = "select_all_siblings"
"û" = "earlier"
"ê" = "repeat_last_motion"
"ï" = "shrink_to_line_bounds"
"î" = "shrink_selection"
"S-î" = "select_all_children"

# Remap some ALT based nav commands to CTRL
C-p = "select_prev_sibling"
C-n = "select_next_sibling"
C-i = "select_all_children"

[keys.normal.space]
W = ":write"
Q = ":quit!"
X = ":write-quit!"
t = ":sh $TERMINAL"
l = ":format"
y = "no_op"
Y = "no_op"
p = "no_op"
P = "no_op"
R = "no_op"
n = ":new"
S-del = [":sh gio trash %{buffer_name}", ":bc!"]

[keys.insert]
C-backspace = "delete_word_backward"
C-del = "delete_word_forward"
C-ret = "completion"
home = "goto_first_nonwhitespace"
