* {
  border: none;
  border-radius: 0;
  font-family: Sans;
  font-size: 15px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

* {
  font-family: "Fira Code", "Symbols Nerd Font", Sans;
}

window {
  color: rgba(217, 216, 216, 1);
  background: none;
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 4px 10px;
  color: rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
  color: rgba(217, 216, 216, 1);
}

#workspaces button.active {
  background: rgba(217, 216, 216, 1);
  color: rgba(35, 31, 32, 1);
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#window {
  margin: 0 5px;
}

#submap {
  padding: 4px 10px;
  color: rgba(217, 216, 216, 1);
  min-width: 40px;
}

#submap.res,
#submap.resize {
  background-color: rgba(51, 204, 255, 0.933);
  color: rgba(35, 31, 32, 1);
}

#submap.mov,
#submap.move {
  background-color: rgba(255, 102, 0, 0.93);
  color: rgba(35, 31, 32, 1);
}

#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#language,
#disk,
#bluetooth {
  margin: 0px 7px;
  min-width: 25px;
}

#clock {
  margin: 0px 16px 0px 10px;
  min-width: 140px;
}

#battery.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
  color: rgba(238, 46, 36, 1);
}

#pulseaudio.muted {
  color: rgba(217, 216, 216, 0.5);
}

#tray {
  margin: 0 5px;
}
